* {
  font-family: "Pacifico", cursive;
  font-family: "Phudu", cursive;
}

.main-container {
  text-align: center;
  margin: 30px 10px;
}

.btn {
  background: #0d80ea;
  padding: 10px 13px;
  border-radius: 3px;
  color: #fff;
  font-family: "Pudu";
  border: none;
  font-size: 25px;
  text-transform: capitalize;
  outline: none;
  margin-top: 20px;
}

.nb-container {
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
}

.nb-container span {
  width: auto;
  margin: 0px 15px;
  text-transform: "uppercase";
  text-decoration: none;
}
