* {
  font-family: "Pacifico", cursive;
  font-family: "Phudu", cursive;
}

.btn {
  background: #0d80ea;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-family: "Pudu";
  border: none;
  font-size: 32px;
  text-transform: capitalize;
  outline: none;
  margin-top: 20px;
}
