.main-form-container {
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-align: left;
  margin: auto auto;
}

.input-container {
  margin: 15px auto;
}

.input-container input {
  padding: 5px;
  outline: none;
  font-family: "Pudu";
  margin: 0px 3px;
  border-radius: 3px;
  border: solid 1px grey;
}

.btn-container {
  padding: 10px;
  border-radius: 3px;
  background: #000;
  color: #fff;
  font-family: "Pudu";
  border: none;
  outline: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
}
